/app/code/*/*/node_modules/*
/app/code/*/*/package-lock.json
/administrator
/bin
/cache
/cli
/images
/includes
/language
/layouts
/libraries
/media
/modules
/plugins
/tmp
/*.php
/*.sample
/*.sql
/*.txt
/*.yml
/*.xml

!/templates/
/templates/**
!/templates/terrafootball/

!/components/
/components/**
!/components/com_joomsport/

robots.txt.dist
