/app/code/*/*/node_modules/*
/app/code/*/*/package-lock.json
/administrator
/bin
/cache
/cli
/images
/includes
/language
/layouts
/libraries
/media
/modules
/plugins
/tmp
/*.php
/*.sample
/*.sql
/*.txt
/*.yml
/*.xml
.htaccess
/templates/*
!/templates/terrafootball/

/.vscode

!/components/
/components/**
!/components/com_joomsport/

robots.txt.dist

# Exclude SASS cache files
.sass-cache/
