$color-1: #ffffff;
$color-2: #000000;
$color-3: #3269b2;
$color-4: #fcc002;
$color-5: #555555;
$color-6: #0482FA;
$color-7: #768398;
$color-8: #dddddd;
$color-9: #f5f5f5;

$color-grid-1: #61BFB8;
$color-grid-2: #574A99;
$color-grid-3: #E94C39;
$color-grid-4: #B6CE39;
$color-grid-5: #222B3E;
$color-grid-6: #3E3C90;
$color-grid-7: #448AC9;
$color-grid-8: #282725;
$color-grid-9: #00897b;