.slider{
    display: block;
    height: auto;
    width: 100%;
    position: relative;
        @include tablet-p{
            text-align: center;
            overflow: hidden;
        }
        .moduletable{
            color: $color-1;
                .promo-block{
                    text-align: center;
                    width: 100%;
                    max-width: 1200px;
                    padding:0 15px;
                    margin: 0 auto;
                    z-index: 2;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);


                    @include tablet-p{
                        padding: 0 15px;
                    }
                    h4{
                        font-family: $font-heading;
                        font-size: 30px;
                        color: $color-4;
                        font-weight: 700;
                        margin: 0 0 20px;
                        @include tablet-p{
                            font-size: 24px;
                        }
                    }
                    p{
                        font-size: 20px;
                        line-height: 30px;
                        @include tablet-p{
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }
                }
                a.button{
                    @extend .button;
                    padding: 22px 40px;
                    margin-top: 30px;
                    @include tablet-p{
                        padding: 10px 18px;
                    }
                }
        }

        /*Coundtown*/
        .scd-title-col{
            margin: 0;
        }

        .moduletable-coundtown{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 9998;
            color: $color-1;
                @include tablet-p{
                    position: relative;
                    left: auto;
                    top: auto;
                    transform: none;
                }
                .title-terra{
                    display: block;
                    font-size: 74px;
                    color: $color-1;
                    font-weight: 700;
                    font-family: $font-heading;
                        @include tablet-p{
                            font-size: 56px;
                        }
                        @include mobile-l{
                            font-size: 48px;
                        }
                }
                .info{
                    display: block;
                    margin: 20px 0;
                    font-weight: 300;
                        @include tablet-p{
                            font-size: 40px;
                            margin: 5px 0;
                        }
                        @include mobile-l{
                            font-size: 32px;
                            margin: 0;
                        }
                }
                .scd-digit{
                    @include tablet-p{
                        font-size: 4em !important;
                    }
                }
                a.button{
                    margin-top: 20px;
                }
        }
}

.slider-item{
    position: relative;
        &:before{
            content: '';
            background: rgba(0,0,0,.5);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
        img{
            width: 100%;
            @include tablet-p{
                width: 100%;
                position: static;
                min-height: auto;
            }
        }
}

.slider{
    .slick-arrow{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        z-index: 9;
        font-size: 0;
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-size: 50px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzEuNDkgMzEuNDkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMxLjQ5IDMxLjQ5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiPjxnPjxwYXRoIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGQ9Ik0yMS4yMDUsNS4wMDdjLTAuNDI5LTAuNDQ0LTEuMTQzLTAuNDQ0LTEuNTg3LDBjLTAuNDI5LDAuNDI5LTAuNDI5LDEuMTQzLDAsMS41NzFsOC4wNDcsOC4wNDdIMS4xMTEgIEMwLjQ5MiwxNC42MjYsMCwxNS4xMTgsMCwxNS43MzdjMCwwLjYxOSwwLjQ5MiwxLjEyNywxLjExMSwxLjEyN2gyNi41NTRsLTguMDQ3LDguMDMyYy0wLjQyOSwwLjQ0NC0wLjQyOSwxLjE1OSwwLDEuNTg3ICBjMC40NDQsMC40NDQsMS4xNTksMC40NDQsMS41ODcsMGw5Ljk1Mi05Ljk1MmMwLjQ0NC0wLjQyOSwwLjQ0NC0xLjE0MywwLTEuNTcxTDIxLjIwNSw1LjAwN3oiIGRhdGEtb3JpZ2luYWw9IiMxRTIwMUQiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMxRTIwMUQiPjwvcGF0aD48L2c+IDwvc3ZnPg==);
        &:hover{
            opacity: .75;
        }
        @include tablet-p{
            top: auto;
            bottom: 20px;
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
        }
    }
    .slick-next{
        right: 50px;
        @include tablet-p{
            right: 15px;
        }
    }
    .slick-prev{
        left: 50px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzEuNDkgMzEuNDkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMxLjQ5IDMxLjQ5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIGNsYXNzPSIiPjxnIHRyYW5zZm9ybT0ibWF0cml4KC0xIDEuMjI0NjVlLTE2IC0xLjIyNDY1ZS0xNiAtMSAzMS40OSAzMS40OSkiPjxwYXRoIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGQ9Ik0yMS4yMDUsNS4wMDdjLTAuNDI5LTAuNDQ0LTEuMTQzLTAuNDQ0LTEuNTg3LDBjLTAuNDI5LDAuNDI5LTAuNDI5LDEuMTQzLDAsMS41NzFsOC4wNDcsOC4wNDdIMS4xMTEgIEMwLjQ5MiwxNC42MjYsMCwxNS4xMTgsMCwxNS43MzdjMCwwLjYxOSwwLjQ5MiwxLjEyNywxLjExMSwxLjEyN2gyNi41NTRsLTguMDQ3LDguMDMyYy0wLjQyOSwwLjQ0NC0wLjQyOSwxLjE1OSwwLDEuNTg3ICBjMC40NDQsMC40NDQsMS4xNTksMC40NDQsMS41ODcsMGw5Ljk1Mi05Ljk1MmMwLjQ0NC0wLjQyOSwwLjQ0NC0xLjE0MywwLTEuNTcxTDIxLjIwNSw1LjAwN3oiIGRhdGEtb3JpZ2luYWw9IiMxRTIwMUQiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMxRTIwMUQiPjwvcGF0aD48L2c+IDwvc3ZnPg==);
        @include tablet-p{
            left: 15px;
        }
    }
}